
* {
  background-color:#191919;
  
} 




.NavbarBrandText{
  font-family: 'Inter', sans-serif;
  background-color:black;
  color:#61dafb;
}

.NavbarText{
  margin: 25px;
  color:white;
}

.navbarbrand{
  display: flex; 
  align-items:center;
  background-color:black;
  
}


.navbarContainer{
  display: flex;
  justify-content: space-between;
  align-items:center; 
  background-color:black;
}

.logoImage{
  width: 150px;
  height: 150px;
  background-color: black;
}




.mainContentContainer{
margin:100px;

}
.MainContentHeading{
  font-family: 'Inter', sans-serif;
  font-size:75px;
  color:white;
}


ul {
  list-style: none; /* Remove default bullets */
}

ul>li{
font-size:50px;
color:white;
margin: 40px;
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #61dafb; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 2em; /* Also needed for space (tweak if needed) */

}



.toggleButton{
  margin: 30px;
  height:70px;
  width:200px;
 
}

.buttonText{
  font-size:30px;
}